<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns = "http://www.w3.org/ns/widgets"
        xmlns:gap = "http://phonegap.com/ns/1.0"
        id        = "com.jthoma.ipcalc"
        versionCode="10" 
        version   = "1.0.7">

    <name>IP Calculator</name>

    <description>
       A very simple ip network calculator. This being my very first trial to make this working for android platform, using phone gap.
    </description>

    <author href="http://www.php-trivandrum.org" email="jijutm@gmail.com">
        Jiju Thomas Mathew
    </author>

    <icon src="icon.png" />
    <gap:platform name="android" />
    <preference name="android-installLocation" value="auto" />
    <preference name="splash-screen-duration" value="10000" />

    <icon src="android/ldpi.png" gap:platform="android" gap:density="ldpi" />
    <icon src="android/mdpi.png" gap:platform="android" gap:density="mdpi" />
    <icon src="android/hdpi.png" gap:platform="android" gap:density="hdpi" />
    <icon src="android/xhdpi.png" gap:platform="android" gap:density="xhdpi" />
    
    <gap:splash src="splash.png" />
    <gap:splash src="splash/drawable-mdpi/splash.9.png" gap:platform="android" gap:density="ldpi" />
    <gap:splash src="splash/drawable-hdpi/splash.9.png" gap:platform="android" gap:density="mdpi" />
    <gap:splash src="splash/drawable-xhdpi/splash.9.png" gap:platform="android" gap:density="hdpi" />
    <gap:splash src="splash/drawable-xxhdpi/splash.9.png" gap:platform="android" gap:density="xhdpi" />
    
</widget>
